@tailwind base;
@tailwind components;
@tailwind utilities;

.light a {
  @apply outline-4 outline-blue-2 focus:ring-1 focus:ring-blue-2;
}

body {
  @apply h-screen bg-accent-1 text-accent-8;
}

button {
  @apply outline-none;
}

::-webkit-scrollbar {
  width: 0.4em;
  margin-block: 1em;
}

body::-webkit-scrollbar-track {
  background: black;
  border-radius: 100vw;
  margin-block: 0.1em;
}

body::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 100vw;
}

.dark div::-webkit-scrollbar-track {
  background: black;
  border-radius: 100vw;
  margin-block: 0.3em;
}

.dark div::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100vw;
}

.light div::-webkit-scrollbar-track {
  background: white;
  border-radius: 100vw;
  margin-block: 0.3em;
}

.light div::-webkit-scrollbar-thumb {
  background: #3291ff;
  border-radius: 100vw;
}
