@tailwind base;
@tailwind components;
@tailwind utilities;

.light a {
  @apply outline-4 outline-blue-2 focus:ring-1 focus:ring-blue-2;
}

body {
  @apply h-screen bg-accent-1 text-accent-8;
}

a {
  @apply outline-none;
}

.light button {
  @apply focus:outline-blue-2;
}

.dark button {
  @apply focus:outline-accent-6;
}

::-webkit-scrollbar {
  width: 0.4em;
  margin-block: 1em;
}

::-webkit-scrollbar-track {
  background: hsl(214, 100%, 90%, 0.1);
  border-radius: 100vw;
  margin-block: 0.1em;
}

::-webkit-scrollbar-thumb {
  background: hsl(214, 100%, 90%, 0.5);
  border-radius: 100vw;
}
