@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-accent-1 text-accent-8 h-screen;
}

button {
  @apply outline-none;
}

.light {
  --scrollbar-track: white;
  --scrollbar-thumb: #3291ff;
}

.dark {
  --scrollbar-track: black;
  --scrollbar-thumb: #888;
}

::-webkit-scrollbar {
  width: 0.4em;
  margin-block: 1em;
}

body::-webkit-scrollbar-track {
  background: black;
  border-radius: 100vw;
  margin-block: 0.1em;
}

body::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 100vw;
}

.dark div::-webkit-scrollbar-track {
  background: black;
  border-radius: 100vw;
  margin-block: 0.3em;
}

.dark div::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100vw;
}

.light div::-webkit-scrollbar-track {
  background: white;
  border-radius: 100vw;
  margin-block: 0.3em;
}

.light div::-webkit-scrollbar-thumb {
  background: #3291ff;
  border-radius: 100vw;
}
